
.moon-img {
    background: url(../img/stro.svg) center no-repeat;
   
}
.stro-img {
  position: absolute;
  width: 80%;
  top: -120%;
}
body {
 background-image: linear-gradient(135deg, #42275a  0%, #734b6d 100%) !important;
 background-image: linear-gradient(-270deg, #07091c 0%, #16234b 100%) !important; !important;
}

.btn-cont {
  text-align: center;
   width: 100%;
}
.btn-cont .btn {
  position: relative;
     padding: 15px 25px;
  border: 1px solid #888888;
  color: white;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}
.btn-cont .btn:hover {
  border: none;
}
.btn-cont .btn:hover .line-1 {
  -webkit-animation: move1 1500ms infinite ease;
          animation: move1 1500ms infinite ease;
}
.btn-cont .btn:hover .line-2 {
  -webkit-animation: move2 1500ms infinite ease;
          animation: move2 1500ms infinite ease;
}
.btn-cont .btn:hover .line-3 {
  -webkit-animation: move3 1500ms infinite ease;
          animation: move3 1500ms infinite ease;
}
.btn-cont .btn:hover .line-4 {
  -webkit-animation: move4 1500ms infinite ease;
          animation: move4 1500ms infinite ease;
}
.btn-cont .line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: white;
  left: 0;
  bottom: 0;
}
.btn-cont .line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: white;
  left: 0;
  top: 0;
}
.btn-cont .line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: white;
  right: 0;
  top: 0;
}
.btn-cont .line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: white;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

.title-grade {
    background: -webkit-linear-gradient(#cd8419, #edbe61);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.small-heading {
    background: -webkit-linear-gradient(#cd8419, #edbe61);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subscribe {
  border-color: #cd8419;
}
.subscribe:hover {
  background:  #cd8419;
}
.section-header.team.small {
 color: #cd8419;
}
.big-button.hero.main {
    background: #cd8419;
}
.top-page-container {
  margin-top: 40%;
}
.logo {
    position: static;
    margin-top: 0;
    margin-bottom: 20px;

    font-family: Comfortaa, sans-serif;
    color: #ffeef5;
    font-size: 67px;
    font-weight: 300;
    text-align: left;
    letter-spacing: 4px;
    text-transform: none
}

@media screen and (max-width: 991px) {

.w-nav[data-collapse=medium] .w-nav-button {
    display: block;
    position: absolute;
    right: 30px;
 }
    .nav-menu-2.w-nav-menu {
        width: 100%;
        text-align: center;
    }
    .brand-2.w-nav-brand img {
      width: 60px;
    }

}
@media (max-width: 479px){
.stro-img {
    position: absolute;
    width: 100%;
    top: -30%;
}
.btn-cont {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
  }
.big-button.hero {
  width: 180px;
}
.mouse {
  display: block !important;
}
}

.social-icon.big {
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
}

.regular-text.left {
  text-align: justify;
}
.hero-header-div {
    display: inline-block;
    padding-top: 45vh;
   
}

.mouse-icon {
  border: 2px solid #fff;
  border-radius: 16px;
  height: 40px;
  width: 24px;
  display: block;
  z-index: 10;
  opacity: 0.7;
}
.mouse-icon .wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: #fff;
  width: 2px;
  height: 6px;
  
  margin-left: auto;
  margin-right: auto;
}
@-webkit-keyframes drop {
  0% {
    top: 25px;
    opacity: 0;
  }
  70% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 5px;
    opacity: 0;
  }
}


#Charities {
  /*min-height: 50vh;*/
}
.top-page-container {
  margin-top: 70%;
}

@media (max-width:767px) {
.top-page-container {
    margin-top: 0;
}
.social-icon.big {
    margin-right: 0px;
    margin-left: 0px;
}
.stars-section {
      min-height: 50vh;
}
.stars-section.no-gradient {
  padding-top: 0;
  padding-bottom: 0;
}
.socail-links.big {
  margin-top: 200px;
}
.small-heading {
  text-align: center;
}
.one-of-a-pair {
  width: 100%;
}

.stars-section.no-gradient.two-gradients {
  padding: 0;
}
.heading.subheader {
  font-size: 18px;
  padding: 35px;
}
.hero-header-div {
  padding-left: 15px;
}
.subheader.alc-b {
  padding: 0;
  text-align: center;
}
.navbar-2 {
  position: absolute;
}
}