
#Moon {
    background: url(../img/stro.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    background-position-y: -900px;
}

body {
 background-image: linear-gradient(135deg, #42275a  0%, #734b6d 100%) !important;
 background-image: linear-gradient(-270deg, #07091c 0%, #16234b 100%) !important; !important;
}

.btn-cont {
  text-align: center;
   width: 100%;
}
.btn-cont .btn {
  position: relative;
     padding: 15px 25px;
  border: 1px solid #888888;
  color: white;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}
.btn-cont .btn:hover {
  border: none;
}
.btn-cont .btn:hover .line-1 {
  -webkit-animation: move1 1500ms infinite ease;
          animation: move1 1500ms infinite ease;
}
.btn-cont .btn:hover .line-2 {
  -webkit-animation: move2 1500ms infinite ease;
          animation: move2 1500ms infinite ease;
}
.btn-cont .btn:hover .line-3 {
  -webkit-animation: move3 1500ms infinite ease;
          animation: move3 1500ms infinite ease;
}
.btn-cont .btn:hover .line-4 {
  -webkit-animation: move4 1500ms infinite ease;
          animation: move4 1500ms infinite ease;
}
.btn-cont .line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: white;
  left: 0;
  bottom: 0;
}
.btn-cont .line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: white;
  left: 0;
  top: 0;
}
.btn-cont .line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: white;
  right: 0;
  top: 0;
}
.btn-cont .line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: white;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

.title-grade {
    background: -webkit-linear-gradient(#cd8419, #edbe61);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.small-heading {
    background: -webkit-linear-gradient(#cd8419, #edbe61);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subscribe {
  border-color: #cd8419;
}
.subscribe:hover {
  background:  #cd8419;
}
.section-header.team.small {
 color: #cd8419;
}
.big-button.hero.main {
    background: #cd8419;
}
.top-page-container {
  margin-top: 40%;
}
@media screen and (max-width: 991px) {

.w-nav[data-collapse=medium] .w-nav-button {
    display: block;
    position: absolute;
    right: 30px;
 }
    .nav-menu-2.w-nav-menu {
        width: 100%;
        text-align: center;
    }
    .brand-2.w-nav-brand img {
      width: 60px;
    }

}



